# Client
/Client/node_modules/
/Client/dist/
/Client/dist-ssr/
/Client/*.local
/Client/.env*
/Client/logs
/Client/*.log
/Client/npm-debug.log*
/Client/yarn-debug.log*
/Client/yarn-error.log*
/Client/pnpm-debug.log*
/Client/lerna-debug.log*
/Client/.vscode/*
/Client/!.vscode/extensions.json
/Client/.idea/
/Client/.DS_Store
/Client/*.suo
/Client/*.ntvs*
/Client/*.njsproj
/Client/*.sln
/Client/*.sw?

# Server
/Server/**/bin/
/Server/**/obj/
/Server/**/.vs/
/Server/**/.vscode/
/Server/**/.idea/
/Server/**/*.user
/Server/**/*.userosscache
/Server/**/*.sln.docstates
/Server/**/[Dd]ebug/
/Server/**/[Dd]ebugPublic/
/Server/**/[Rr]elease/
/Server/**/[Rr]eleases/
/Server/**/x64/
/Server/**/x86/
/Server/**/build/
/Server/**/bld/
/Server/**/[Bb]in/
/Server/**/[Oo]bj/
/Server/**/[Ll]og/
/Server/**/*.dbmdl
/Server/**/*.jfm
/Server/**/_ReSharper*/
/Server/**/.cr/
/Server/**/.env
/Server/**/.vs/
/Server/**/*.sw?
/Server/**/.DS_Store